<div class="author">
    <img src="<%- theme.avatar.author_photo %>" alt="">

    <div class="title">
       <h3>zpyqaq`s Blog</h3>
    </div>
    <label >
        <input type="checkbox">
    </label>
   
    </div>
    
</div>