<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title><%= config.title %></title>
    <meta name="author" content="<%= config.author %>" />
    <%- css('css/style') %>
   
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script src="/source/JS/main.js"></script>
    <script src="/source/JS/p5.js"></script>
    
</head>
