<main>
        
  <div class="author">
       <img src="<%- theme.avatar.author_photo %>" alt="">

       <div class="title">
          <h3><%- theme.title %></h3>
       </div>

  </div>
  <div class="signature">

   </div>

  <div class="menu">
      <a href="">Home</a>
      <a href="">About</a>
 </div>

 





 </main>