<div class="navbar">
    <ul class="menu">
        <%
        for(let item of theme.navbar) {
          if (item.enable) {
      %>
        <li data-path="<%- item.path %>">
          <a href="<%- item.path %>"><i class="iconfont">&#xe615;</i><%- item.name %></a>
        </li>
      <%
          }
        }
      %>
    </ul>
</div>
